* {
	text-decoration: none;
	box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  background: white;
}

header{
	background-color:white;
	width: 100%;
}

.logo{
	font-family: 'Segoe UI', sans-serif;
	font-size: 45px;
	color: red;
	font-weight: 500;
	text-transform: uppercase;
	display:block;
	margin: 0 auto;
	background-color: white;
	text-align: center;
	letter-spacing: 1px;
}

header nav{
	
	display: block;
	margin: 0 auto;
	width:fit-content;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	
}


header nav  a{
	font-size:12px;
	color: black;
	text-transform: uppercase;
	padding: 0 0.4em;
	font-weight:500;
	
}


header nav  a:hover {
  outline: none;
  border-bottom: 1.5px solid grey;
}


.home {
  position:relative;
  background-color: white;
}
.home-content {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  position: absolute; 
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.home-content h2 {
	font-weight: 100;
	font-size: 1.0em;
    line-height: 2;
	margin-bottom: -.35em;
	padding-top: 10%;
	letter-spacing: .3em;
	text-transform: uppercase;
	text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
		
}

h3 {
  font-size: 0.8em;
  font-weight: 100;
  line-height: 1;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}


.privateSupport{
	font-size: 1.1em;
	font-weight:bold;
	line-height: 1.5;
	}

.subject{
	padding-top:10px;
		
}

.main{
	display: flex;
    background-color: white;
    color: black;
    flex-flow: column wrap;
    justify-content: top;
    width: 100%;
	padding-top: 30px;
	font-family: 'arial', sans-serif;
	font-weight:500;
	
}

.main h2{
	width: 90%;
    font-size: 14px;
	text-align: justify;
	margin:0 auto;
	font-family: arial, sans-serif;	
}

.main section {
    width: 90%;
    text-align: justify;
	margin:5px auto;
	font-size: 14px;    
}


.profile{
	display: flex;
    background-color: white;
    color: black;
    flex-flow: column wrap;
    justify-content:center;
    width: 100%;
	padding-top: 30px;
	font-family: 'acumin-pro-extra-condensed', sans-serif;
	font-weight:500;
	
}

.profile h2{
	width: 90%;
    font-size: 14px;
	text-align: center;
	margin:0 auto;
	font-family: 'arial', sans-serif;
	
}


.profile ul{
	font-size: 18px;
}

.profile section {
    width: 90%;
    text-align: justify;
	margin:5px auto;
	font-size: 18px;    
}


.profile ol{
	width: 90%;
	font-size: 18px;
	list-style-position: inside;
	text-align: justify;
	margin:5px  auto;
	padding:0;	
}



.thesis{
	width: 90%;
    font-size: 14px;
	text-align: center;
	margin:0 auto;
	font-family: 'arial', sans-serif;
	list-style-type: none;	
}


.scholar{
	width: 90%;
    font-size: 14px;
	text-align: center;
	margin:0 auto;
	font-family: 'arial', sans-serif;
	list-style-type: none;	
}


.program{
	display: flex;
    background-color: white;
    color: black;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
	padding-top: 30px;
	font-family: 'acumin-pro-extra-condensed', sans-serif;
	font-weight:500;
	
}

.program h2{
	width: 90%;
    font-size: 14px;
	text-align: left;
	margin:0 auto;
	font-family: 'arial', sans-serif;	
}

.program ul{
	font-size: 18px;
}

.program section {
    width: 90%;
    text-align: justify;
	margin:5px auto;
	font-size: 18px;    
}

.contactUs{
    text-align: center;
	width: fit-content;
	display:block;
	margin: 0 auto;
	background-color: none;
	color:black;
	padding:3px 20px 5px 20px;
	border-radius: 100px;
	border: 2px solid black;	
}


.contactUs:hover{     
	background-color: black;
	color:white;	
}

.contactPage{
	display: flex;
    background-color: white;
    color: black;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
	padding-top: 30px;	
	font-weight:500;	
}

.contactPage address{	
	width: 90%;
    font-size: 14px;
	text-align: left;
	margin:0 auto;
	font-family: 'arial', sans-serif;	
}

.contactPage h2{
	width: 90%;
    font-size: 18px;
	text-align: center;
	margin:0 auto;
	font-family: 'arial', sans-serif;	
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=tel], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
  color:white
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;	
  margin-bottom: 20px;
	
}

@media only screen and (min-width: 580px) and (max-width: 1000px) {
	
	.home-content h2 {
		padding-left: 10vw;
		padding-right: 10vw;
	
	}
	
}


@media only screen and (min-width: 1000px) {
	
	.logo{
		float:left;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 2vw;
		padding-right: 2vw;
	}
	
	header nav{
	
		display:block;
		width:fit-content;
		padding-top: 30px;
		padding-bottom: 25px;
		text-align: center;
		margin-right: 35px;
		
	}

	header nav  a{
		font-size:14px;
		color: black;
		text-transform: uppercase;
		padding: 0 1em;
		font-weight:500;
		letter-spacing: .15em;
	
	}
	
	.home {
  		position:relative;
  		background-color: white;
	}
	
	.home-content {
		font-family: 'acumin-pro-extra-condensed', sans-serif;
		position: absolute; 
		Display:block;
		width: 100%;
		padding: 0 12vw;
		text-align: center;
		margin: 0 auto;
	}
	
	.home-content h2 {
		font-weight: 100;
		font-size: 2em;
		line-height: 2.2;
		padding-top: 9%;
		letter-spacing: .3em;
		text-transform: uppercase;
		text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
	
	}
	
	.privateSupport{
		font-size: 2em;
		font-weight:bold;
		letter-spacing: 0.35em
	}
	
	
	
	h3 {
	    font-size: 1.4em;
	    font-weight: 100;
	    line-height: 0.5;
	    letter-spacing: .25em;
	    text-transform: uppercase;
	    text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
	}



	.subject{
		padding-top:10px;
		
	}
	
	.subject a{
		font-size: 1.4em;
		
	}
	
	
	.main{
		display: flex;
		background-color: white;
		color: black;
		flex-flow: column wrap;
		justify-content: top;
		width: 100%;
		padding-top: 80px;
		font-family: 'arial', sans-serif;
		font-weight:500;
		margin: 0 auto;
}

.main h2{
	width: 50%;
    font-size: 18px;
	text-align: justify;
	margin:0 auto;
	font-family: arial, sans-serif;	
}

.main section {
    width: 50%;
    text-align: justify;
	font-size: 18px;    
	
}
	
	
	.container{
		width:70%;
		margin: 0 auto;
	}
	
	.contactPage address{	
		width: 70%;
		font-size: 14px;
		text-align: left;
		margin:0 auto;
		font-family: 'arial', sans-serif;	
	}
	
	
	.program{
		display: flex;
		background-color: white;
		color: black;
		flex-flow: column wrap;
		width: 100%;
		padding-top: 50px;
		font-family: 'acumin-pro-extra-condensed', sans-serif;
		font-weight:500;
		margin:0 auto;
	
	}

	.program h2{
		width: 80%;
		font-size: 16px;		
		padding:0 100px;
		font-family: 'arial', sans-serif;	
	}

	.program ul{
		font-size: 20px;
		padding:0 35vw;
	}

	.program section {
		width: 70%;
		text-align: justify;
		font-size: 20px;    
		padding-left: 20vw;
	}

	
	
	
	.profile{
		display: flex;
		background-color: white;
		color: black;
		flex-flow: column wrap;
		width: 100%;
		padding-top: 50px;
		font-family: 'acumin-pro-extra-condensed', sans-serif;
		font-weight:500;
		margin:0 auto;
		
	
	}
	
	.profile h2{
		width: 100%;
		font-size: 16px;		
		font-family: 'arial', sans-serif;	
		
		
	}
	
	
	.profile ul{
		font-size: 20px;
		padding:0 25vw;
	}

	.profile section {
		width: 50%;
		text-align: justify;
		font-size: 20px;    
		
	}
	
	
	.profile ol{
		width: 50%;
		font-size: 18px;
		list-style-position: inside;
		text-align: justify;
		margin: 1vw auto;
		
		
			
		
		
		
}

}



























